/* Reseteo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales*/
body {
    background-color: #ebebeb;
    font-family: montserrat, sans-serif;
    
}

h1{
    font-family: "Libre Caslon Display", serif;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
}

h2{
    font-family: "Libre Caslon Display", serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 1em;
}

h3{
    font-family: montserrat, sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #818181;
}

p{
    font-family: montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #695F7D;
    letter-spacing: 0.5px;
    line-height: 1.4em;
    text-align: left;
}

.resalte{
    font-family: montserrat, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #AFAFAF;
    border-left: 5px solid #ff0000;
    padding-left: 12px;
    margin-bottom: 20px;
}

.h1-especial{
    font-family: "Libre Caslon Display", serif;
    font-size: 6em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1em;
}

.texto-negrita{
    font-family: montserrat, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #202020;
    margin-bottom: 35px;
}

.boton-uno{
    display: inline-flex;
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: 12px 12px 25px 0px rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    border-right: 10px solid #ff0000;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-uno{
    border-right: 10px solid #ff0000;
    box-shadow: 12px 12px 25px 0px rgba(0, 0, 0, 0.20);
}

/*ESTILOS DEL HEADER*/

/* Estilo de hedaer manual 

header{
    background-color: #EBEBEB;
    border-bottom: 1px solid #B3B3B3;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

header a img{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75px;
}

header div{
    background-color: #000000;
    align-content: center;
    padding-right: 30px;
    padding-left: 30px;

}

header nav ul{
    color: #EBEBEB;
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a{
    color: #EBEBEB;
    text-decoration: none;
}
*/

/*Estilos header con boostrap*/

.navbar{
    border-bottom: 1px solid #B3B3B3;
}

.logo-header-boostrap{
    width: 50px;
}

.btn{
    text-transform: uppercase;
}

/*Estilos de main*/

main{
    display: flex;
    flex-direction: column;

    padding-top: 80px;
    padding-left: 3%;
    padding-right: 3%;
}

.main__h3{
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 30px;
}

.main__container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.main__container--cuarenta{
    width: 40%;
}

.main__container--sesenta{
    width: 60%;
}



/* ESTILOS DE CONTENIDOS */

/*HOME*/
.section-uno{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 100px;
}

.section-uno__container{
   width: 50%;
   height: 100vh;
}

.section-uno__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.section-uno__img--glam-boy{
    object-position: top;
}



.section-dos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 150px;
}

.section-dos__container-title{
    grid-column: span 3;
    margin-bottom: 100px;

}

.section-dos__container-dos{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 15%;
    margin-top: 100px;
}

.section-dos__container{
    height: 90vh;
}

.section-dos__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-dos__text{
    text-align: end;
    font-size: 12px;
    margin-top: 20px;
}


.section-tres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12%;
    padding-left: 3%;
    padding-right: 3%;
}

.section-tres__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 50%;
    margin-bottom: 100px;
}

.section-tres__container--img{
    align-items: end;
}

.section-tres__title-span{
    color: #808080;
}

.section-tres__img{
    width: 80%;
}


/*GALERÍA*/
.main-galeria__container{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-galeria__container--sesenta{
    width: 60%;
}

.main-galeria__container--cuarenta{
    width: 40%;
    justify-content: flex-end;
}

.gl-section-uno{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 200px;
}

.gl-section-uno__container{
    width: 48%;
    height: 90vh;
}

.gl-section-uno__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gl-section-uno__container--ancho-completo{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.gl-section-uno__container-video{
    width: 100%;
    height: 90vh;
    margin-bottom: 20px;
}

.video-uno{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gl-section-uno__text{
    text-align: end;
    padding-left: 50%;
}


.gl-section-dos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    margin-top: 2em;
    padding-left: 3%;
    padding-right: 3%;
    gap: 1em;
}

.gl-section-dos__container{
    height: 60vh;
}

.gl-section-dos__container-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.gl-section-dos__text{
    text-align: end;
}

.gl-section-dos__container--cien-vh{
    height: 100vh;
    grid-column: span 1.5;
}

.gl-section-dos__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gl-section-tres{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gl-section-tres__container{
    display: flex;
    gap: 20px;
}

.gl-section-tres__container--abajo{
    padding-left: 50%;
    justify-content: flex-end;
}

.gl-section-tres__container-img{
    width: 25%;
}

.gl-section-tres__container-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
}

.gl-section-tres__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.gl-section-cuatro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto 1fr;
    gap: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

.gl-section-cuatro__container-img-uno{
    grid-column: span 2 / span 2;
    height: 100vh;
}

.gl-section-cuatro__container-img-dos{
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    height: 100vh;
}

.gl-section-cuatro__container-text{
    grid-column: span 4 / span 4;
    grid-row-start: 2;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50%;
}

.gl-section-cuatro__container-img{
    grid-row-start: 3;
    height: 70vh;
}

.gl-section-cuatro__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TRAYECTORIA */

.tr-main{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.tr-main__container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 100px;
}

.tr-main__container-img{
    height: 100vh;
}

.tr-main__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tr-main__container-flex{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

.tr-main__container-content{
    display: flex;
    gap: 10%;
    margin-top: 80px;
}

.tr-main__text{
    width: 60%;
}

.tr-main__container-img-dos{
    height: 80vh;
    width: 40%;
}

.tr-section-uno{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 100px;
    margin-bottom: 100px;
}


.tr-section-uno__container-content{
    display: flex;
    gap: 15%;
    margin-top: 80px;
}

.tr-section-uno__container-img{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tr-section-uno__container-trayectoria{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tr-section-uno__li{
    margin-bottom: 15px;
    color: #595959;
}

/* ACERCA DE */

.ac-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.ac-main__container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ac-main__title{
    margin-bottom: 35px;
    margin-right: -35%;
    z-index: 2;
}

.ac-main__container-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ac-main__container-img{
    width: 40%;
    height: 90vh;
}

.ac-main__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.ac-section-uno__container-img{
    width: 45%;
    height: 90vh;
}

.ac-section-uno__container-content{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.ac-section-uno__text{
    margin-bottom: 30px;
}

/* CONTACTO */

.cont-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50PX;
    padding-bottom: 50px;
    padding-left: 3%;
    padding-left: 3%;
}

.cont-main__container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}
.cont-main__title{
    margin-right: -70%;
    margin-bottom: 50px;
    z-index: 5;
}

.cont-main__container-form{
    background-color: #d4d4d4;
    padding: 34px;
    border-radius: 8px;
}


.cont-main__container-img{
    width: 50%;
}

.cont-main__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*Estilos de footer*/

footer{
    display: flex;
    flex-direction: column;
}

.footer__container-logo{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 20px;

}

.footer__slogan{
    color: #838383;
}

.footer__container-nav{
    background-color: #000000;
    border-top: 1px solid #B3B3B3;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav ul li a{
    text-decoration: none;
    color: #EBEBEB;
}

.footer__container-copyright{
    background-color: #858585;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer div p{
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #E6E6E6;
    margin-bottom: 0px;
}


/*================================================ MEDIA QUERy PARA MÓVILES ================================================*/

@media only screen and (max-width: 767px) {

    /* GLOBAL */

    h1{
        font-size: 3em;
    }

    h2{
        font-size: 50px;
    }

    h3{
        font-size: 30px;
    }

    .h1-especial{
        font-size: 3.5em;
    }
    
    .btn{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.3em;
    }

    .nav-link{
        font-size: 1em;
    }
    
    /* HOME */

    .main{
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .main__container{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }

    .main__container--cuarenta, .main__container--sesenta{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .section-uno{
        gap: 10px;
        margin-bottom: 50px;
    }

    .section-uno__container{
        height: 70vh;
    }

    .section-dos__container-dos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 30px;
        margin-top: 50px;
        
    }

    .section-dos{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }

    .section-dos__container{
        height: auto;
    }

    .section-dos__container-title{
        margin-bottom: 50px;
    }

    .section-tres{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }

    .section-tres__container{
        width: 100%;
        margin-bottom: 0px;
        align-items: stretch;
    }

    .section-tres__container--img{
        width: 100%;
        align-items: center;
    }

    .section-tres__img{
        width: 100%;
    }

    /* TRAYECTORIA */

    .tr-main__container-grid{
        margin-bottom: 50px;
    }

    .tr-main__container-img{
        height: 60vh;
    }

    .tr-main__container-content{
        flex-direction: column;
        margin-top: 50px;
        gap: 30px;
    }

    .tr-main__text, .tr-main__container-img-dos{
        width: 100%;
    }

    .tr-section-uno__container-content{
        flex-direction: column;
        gap: 50px;
    }

    .tr-section-uno__container-img, .tr-section-uno__container-trayectoria{
        width: 100%;
    }

    /* ACERCA DE */

    .ac-main{
        flex-direction: column;
        margin-bottom: 50px;
    }

    .ac-main__container{
        width: 100%;
    }

    .ac-main__title{
        margin-right: 0%;
    }

    .ac-main__container-img{
        width: 100%;
        height: 70vh;
    }

    .ac-section-uno{
        flex-direction: column-reverse;
        gap: 50px;
    }

    .ac-section-uno__container-content{
        width: 100%;
    }

    .ac-section-uno__container-img{
        width: 100%;
    }

    /* GALERÍA */

    .main-galeria__container{
        flex-direction: column;
    }

    .main-galeria__container--sesenta, .main-galeria__container--cuarenta{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .gl-section-uno{
        gap: 0%;
        margin-bottom: 50px;
    }

    .gl-section-uno__container{
        width: 47%;
        height: 70vh;
    }

    .gl-section-uno__container--ancho-completo{
        width: 100%;
    }

    .gl-section-uno__text{
        padding-left: 0%;
        text-align: start;
    }

    .gl-section-dos{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .gl-section-dos__text{
        text-align: start;
    }

    .gl-section-tres__container{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .gl-section-tres__container-img{
        width: 47%;
    }

    .gl-section-tres__container-text{
        width: 100%;
    }

    .gl-section-tres__container--abajo{
        padding-left: 0%;
    }

    .gl-section-cuatro{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, auto);
        gap: 10px;
        padding-bottom: 50px;
    }

    .gl-section-cuatro__container-img-uno{
        grid-column: span 2 / span 2;
        height: 50vh;
    }

    .gl-section-cuatro__container-img-dos{
        grid-column: span 2 / span 2;
        grid-column-start: 3;
        height: 50vh;
    }

    .gl-section-cuatro__container-text{
        grid-column: span 4 / span 4;
        grid-row-start: 2;
        padding-right: 0%;
    }

    .modelo-cunclillas{
        grid-column: span 4 / span 4;
        grid-row-start: 3;
    }

    .modelo-colegiala{
        grid-column: span 4 / span 4;
        grid-row-start: 4;
    }

    .fair-mua{
        grid-column: span 2 / span 2;
        grid-row-start: 5;
        height: 50vh;
    }

    .modelo-vestido{
        grid-column: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 5;
        height: 50vh;
    }


    /*
    .gl-section-cuatro__container-img-uno, .gl-section-cuatro__container-img-dos{
        height: 50vh;
    }

    .gl-section-cuatro__container-text{
        padding-right: 0%;
    }

    .gl-section-cuatro__container-img{
        height: 50vh;
        grid-column: span 4;
    }*/



    /* CONTACTO */

    .cont-main{
        flex-direction: column;
        gap: 30px;
        padding-bottom: 50px;
    }

    .cont-main__title{
        margin-right: 0%;
        font-size: 3em;
    }

    .cont-main__container{
        width: 100%;
        padding-right: 0%;
    }

    .cont-main__container-img{
        width: 100%;
    }

    /* FOOTER */

    footer nav ul{
        flex-direction: column;
        align-items: center;
    }

}
