//Variables del proyecto

//Color de fondo
$color-fondo: #ebebeb;

//Color titulares
$titular-oscuro: #000000;

//Color subtitulos
$subtitulo-gris: #818181;

//Color textos
$color-texto: #695F7D;

//Fuente uno
$font-uno: "Libre Caslon Display", serif;

//Fuente dos
$font-dos: montserrat, sans-serif;